.searchBox {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  width: 25rem;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.searchInput {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #1b2021;
  border: none;
  width: 90%;
  padding: 10px;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
}

.searchButton svg {
  color: #1b2021;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .searchBox {
    width: 20rem;
  }

  .searchInput {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .searchBox {
    width: 15rem;
  }

  .searchInput {
    font-size: 0.75rem;
  }
}

@media (max-width: 375px) {
  .searchBox {
    width: 10rem;
  }

  .searchInput {
    font-size: 0.625rem;
  }
}

@media (max-width: 320px) {
  .searchBox {
    width: 8rem;
  }

  .searchInput {
    font-size: 0.5rem;
  }
}
